@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('dsansfont.github.io/font/css.css');

body,html {
  font-family: 'DSans Regular', Arial, sans-serif;
}

h1 { 
  font-family: 'DSans Bold', Arial, sans-serif;
  text-align: center; 
 }

.small-text {
  font-size: 0.75rem;
  justify-content: center;
  text-align: center;
}

.emoji {
  font-family: "Noto Color Emoji", 'Segoe UI Emoji', 'Twemoji', 'Twemoji Mozilla', 'EmojiOne Color', sans-serif;
}

.centre { 
   align-items: center; 
   flex-direction: column; 
 } 
  
